.container {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.textContainer h1 {
  font-size: 70px;
}

.heroImgMobile {
  display: none;
}

.textContainer p {
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  background-color: var(--text);
  color: var(--bg);
  cursor: pointer;
  border-radius: 5px;
}

.buttons button:first-child {
  background-color: var(--btn);
  color: var(--text);
}

.brands {
  position: relative;
  width: 500px;
  height: 50px;
  filter: grayscale(1);
}

.imgContainer {
  flex: 1;
  position: relative;
}

.heroImg {
  height: 300px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 50px;
    width: 85vw;
  }

  .textContainer h1 {
    font-size: 32px;
    width: 90%;
  }

  .imgContainer {
    display: none;
  }

  .heroImgMobile {
    display: block;
  }

  .textContainer p {
    font-size: 14px;
    width: 90%;
  }

  .brands {
    position: relative;
    width: 300px;
    display: block;
  }
}
