.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  font-size: 12px;
}

.logo {
  font-weight: bold;
}

.text {
  font-size: 12px;
}
